*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

html,body{
    width: 100%;
    height: 100%;
}


#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(152, 205, 152);
}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;

}

#ptop{    
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(70, 108, 70);
    padding: 0px 30%;
}

.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px;

}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    background-color: #fff;
    color: rgb(50, 152, 50);
    font-size: 25px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;


}

#pbtm{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    /* background-color: black; */
}

#gameOver{
    font-size: 80px;
    color: rgb(242, 122, 122);
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(70, 108, 70);
    font-weight: 500;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(8, 66, 8);
}

